// section
.home {
    position: relative;
    height: 100vh;
    background-color: $bg1;
    .bg-area {
        overflow: hidden;
        .bg-circle {
            position: absolute;
            width: 80vh;
            height: 80vh;
            border-radius: 50%;
            filter: blur(10rem);
            &.circle1 {
                top: -5rem;
                background: -o-linear-gradient(-45deg, #23A6D5, #23D5AB);
                background: -ms-linear-gradient(-45deg, #23A6D5, #23D5AB);
                background: -moz-linear-gradient(-45deg, #23A6D5, #23D5AB);
                background: -webkit-linear-gradient(-45deg, #23A6D5, #23D5AB);
                background: linear-gradient(-45deg, #23A6D5, #23D5AB);
                filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#23A6D5', endColorstr='#23D5AB', GradientType=1);
                background-size: 400% 400%;
                -webkit-animation: bgGradient 10s ease infinite;
                -o-animation: bgGradient 10s ease infinite;
                -moz-animation: bgGradient 10s ease infinite;
                -ms-animation: bgGradient 10s ease infinite;
                animation: bgGradient 10s ease infinite;
                overflow: hidden;
                background-attachment:fixed;
            }
            &.circle2 {
                top: 10rem;
                left: 50rem;
                background: -o-linear-gradient(-45deg, #975bf1, #f05cc3);
                background: -ms-linear-gradient(-45deg, #975bf1, #f05cc3);
                background: -moz-linear-gradient(-45deg, #975bf1, #f05cc3);
                background: -webkit-linear-gradient(-45deg, #975bf1, #f05cc3);
                background: linear-gradient(-45deg, #975bf1, #f05cc3);
                filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#975bf1', endColorstr='#f05cc3', GradientType=1);
                background-size: 400% 400%;
                -webkit-animation: bgGradient 10s ease infinite;
                -o-animation: bgGradient 10s ease infinite;
                -moz-animation: bgGradient 10s ease infinite;
                -ms-animation: bgGradient 10s ease infinite;
                animation: bgGradient 10s ease infinite;
                overflow: hidden;
                background-attachment:fixed;
            }
        }
    }
    .title-area {
        position: absolute;
        top: 50%;
        left: 10rem;
        transform: translateY(-50%);
        .sub-text {
            font-size: 2.4rem;
            font-weight: $fontBlack;
            &::before {
                content: "";
                display: inline-block;
                width: 10rem;
                height: 0.3rem;
                margin-right: 2rem;
                background-color: $black;
                vertical-align: middle;
            }
        }
        .title {
            margin-top: 4rem;
            font-size: 13rem;
            font-weight: $fontBlack;
            line-height: 1;
            span {
                display: block;
            }
            &-black {
                color: $black;
            }
            &-white {
                color: transparent;
                -webkit-text-stroke: 0.2rem $black;
                text-stroke: 0.2rem $black;
            }
        }
    }
}
.about {
    &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: $bg1;
        &-title {
            position: relative;
            overflow: hidden;
            padding: 0 3rem;
            line-height: 1.2;
            font-size: 13rem;
            font-weight: 900;
            font-style: italic;
            color: transparent;
            -webkit-text-stroke: 0.2rem $primary-blue;
            text-stroke: 0.2rem $primary-blue;
            background-image: linear-gradient(180deg,$bg1, $primary-blue 20%);
            background-attachment: fixed;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 0.3rem;
                bottom: 0;
                left: 0;
                background-color: $primary-blue;
                opacity: 0.8;
            }
        }
    }
    &__center {
        position: relative;
        height: 90vh;
        margin-bottom: calc(90vh + 10rem);
        background-color: $bg1;
    }
    &__circle {
        position: relative;
        height: 200%;
        background: url('#{$img-path}/visual_bg_water.jpg') no-repeat 0 0 / cover;
        background-attachment: fixed;
        clip-path: ellipse(100% 100% at 50% 100%);
        &-text {
            @include maxWidth();
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            color: transparent;
            .text {
                position: relative;
                display: inline-block;
                color: transparent;
                &::before {
                    content: attr(data-word);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: transparent;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-image: linear-gradient(to bottom, transparent 25%, $white 25%, $white 75%, transparent 75%);
                    background-size: 100% 250%;
                    background-repeat: no-repeat;
                    background-position: 50% calc((var(--progress) * 200px) - 150px);
                    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    transition-delay: 1.25s;
                    -webkit-text-stroke: 0.2rem $white;
                    font-size: 11rem;
                    font-weight: 900;
                }
            }
        }
        &-footer {
            position: absolute;
            bottom: -10rem;
            width: 100%;
            height: 50%;
            z-index: 1;
            background-image: linear-gradient(180deg,transparent, $primary-blue 80%);
        }
    }
}
.skills {
    padding: 16rem 0 30rem;
    background-color: $bg1;
    .marquee {
        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 8rem 8rem;
            @include maxWidth();
            &-title {
                font-size: 8rem;
                font-weight: $fontBold;
                font-style: italic;
                color: $bg1;
            }
        }
        &__body {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                // z-index: 1;
                display: block;
                width: 100%;
                height: 0.1rem;
                transform: translate(-50%, -50%);
                background-color: $line1;
            }
        }
        &__list {
            z-index: 1;
            padding: 5rem 0;
            border-top: 0.1rem solid $line1;
            border-bottom: 0.1rem solid $line1;
            &-item {
                display: inline-block;
                margin: 0 5rem;
                vertical-align: middle;
                .img-area {
                    background-color: $bg1;
                    border-radius: 0.8rem;
                    overflow: hidden;
                    img {
                        display: block;
                        width: 100%;
                    }
                }
                .info-area {
                    margin-top: 2rem;
                    .logo-name {
                        font-size: 2.4rem;
                        font-weight: $fontBold;
                        color: $black;
                    }
                    .logo-info {
                        margin-top: 0.4rem;
                        font-size: 1.6rem;
                        color: $text6;
                    }
                }
                &.big {
                    width: 36rem;
                    .img-area {
                        height: 36rem;
                    }
                }
                &.small {
                    width: 26rem;
                    .img-area {
                        height: 26rem;
                    }
                }
            }
        }
    }
}
.projects {
    max-width: 140rem;
    padding: 16rem 0 10rem;
    margin: 0 auto;
    &__header {
        text-align: center;
        &-title {
            font-size: 8rem;
            font-weight: $fontBlack;
            font-style: italic;
            color: $text1;
        }
    }
    &__list {
        display: flex;
        // align-items: center;
        // justify-content: center;
        flex-wrap: wrap;
        padding-top: 5.6rem;
        &-item {
            margin: 1.6rem;
        }
    }
}

/* animation */
@keyframes bgGradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
